<p>checkouts works!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nobis? Nostrum sed porro nam consequuntur doloribus
    vero necessitatibus libero assumenda, perspiciatis minima, quasi voluptate blanditiis? Vel provident impedit rerum,
    officiis saepe labore quisquam vero officia amet deserunt ut velit tempore ipsum voluptatibus sequi inventore
    nesciunt cumque repellendus laudantium temporibus dolore! Excepturi nulla provident modi itaque odio. Quo, quia
    illum, iste sapiente ad iure ratione modi harum quam dolores facere numquam facilis expedita inventore porro
    repellat ullam iusto totam esse. Pariatur aperiam expedita necessitatibus facere iusto, id enim vero eius autem
    ratione iste esse adipisci. Eos repudiandae eaque dolore illo! Illum.
</p>
<div class="container">
    <div class="row">
      <div class="col">
          <h1>tui Gaddar</h1>
      </div>
      <div class="col">  <h1>Tum saath ho</h1></div>
      <div class="col">  <h1>Yaa na ho</h1></div>
      <div class="col">  <h1>keya fark hain</h1></div>
    </div>
    <div class="row">
      <div class="col-8"><h1>Agar tum sath ho</h1></div>
      <div class="col-4"><h1>Agar tum paas ho</h1></div>
    </div>
  </div>