<div class="container m-4">
    <h1>Welcome to mysite</h1>
</div>
<form class="row g-3" #userForm="ngForm">
    {{userForm.value | json}} 
    <div class="col-md-12"></div>
    <div class="col-md-2"> <label for="inputEmail4" class="form-label">First Name</label> </div>
    <div class="col-md-4"> <input type="email" class="form-control" id="inputEmail4" name="firstName" [(ngModel)]="newUser.firstName"> </div>

    <div class="col-md-2"> <label for="inputEmail4" class="form-label">Last Name</label> </div>
    <div class="col-md-4"> <input type="email" class="form-control" id="inputEmail4"name="lastName"  [(ngModel)]="newUser.lastName"> </div>


    <div class="col-md-2">
        <label for="inputEmail4" class="form-label">Email</label>
    </div>

    <div class="col-md-10">
        <input type="email" class="form-control" id="inputEmail4" name="email"  [(ngModel)]="newUser.email">
    </div>


    <div class="col-2">
        <label for="inputAddress" class="form-label">Address</label>
    </div>
    <div class="col-10">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="address"  [(ngModel)]="newUser.address"></textarea>
    </div>
    <div class="col-2">
        <label for="inputAddress" class="form-label">Photo</label>
    </div>s
    <div class="col-5">
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="photo" 
                aria-label="Upload">
        </div>
    </div>



    <div class="col-11">
        <button type="submit" class="btn btn-primary" (click)="cancelForm()">Cancel</button>
    </div>
    <div class="col-1">
        <button type="submit" class="btn btn-primary" (click)="addUser()">Submit</button>
    </div>
</form>