<div class="container">
    <div class="mt-2">
        <div class="row">
            <div class="col-md-6">
                <p class="text-justify">iProduct Product Cart. Here is the collections of amazing products with great
                    reviews.Raise your hand if you enjoy the convenience of shopping on your mobile device.

                    If that’s you, these mobile shopping apps are the perfect addition to your smartphone. You can now
                    easily shop on the go while snagging the best deal with every purchase.

                    Convenience doesn’t always have to cost more money. In fact, with competition for your online
                    dollars on the rise, many of these companies literally pay you to make your everyday purchases
                    through their shopping app (both online and in-store).

                    In this complete list of shopping apps, we’re going to share some of our top picks. Not only will
                    these apps help you find what you need when you need it but you’ll also get the best price or cash
                    back value possible if you’re willing to give it a try!

                    So without further ado, let’s look at the best price shopping apps to download today. If you love
                    all things convenient and saving money, then these are meant for you.</p>
            </div>
            <div class="col-md-6">
                <img src="../assets/main.jpg" style="width: 100%" />
            </div>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
                integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
                crossorigin="anonymous">
            <div class="container">
                <div class="row">

                    <div class="col col-md-3 m-4">
                        <div class="card h-100">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../assets/product4.jpg" alt="Card image cap"
                                    style="width:100%;height:40%">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col col-md-3  m-4">
                        <div class="card h-100">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../assets/product2.jpg" alt="Card image cap"
                                    style="width:100%;height:40%">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col col-md-3 m-4">
                        <div class="card h-100">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../assets/product.jpg" alt="Card image cap"
                                    style="width:100%;height:40%">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col col-md-3  m-4">
                        <div class="card h-100">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../assets/product2.jpg" alt="Card image cap"
                                    style="width:100%;height:40%">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>


        </div>
    </div>