<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="Price" [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="availability" [(ngModel)]="newProduct.available" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="availability">Available</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
</form>